server {

    listen {{ nginx_listen_address }}:{{ nginx_listen_port }};
    
    proxy_intercept_errors  off;

    server_name {{ app_name }};

    access_log /var/log/nginx/{{ app_name }}-{{ user }}_access_nginx.log;
    error_log /var/log/nginx/{{ app_name }}-{{ user }}_error_nginx.log error;

    location ~* ^.+\.(jpg|jpeg|gif|png|svg|js|css|mp3|ogg|mpe?g|avi|zip|gz|bz2?|rar)$ {
        root {{ home }}/{{ app_name }}/www/public/;
        try_files $uri $uri/ @proxy;
    }

    location @proxy {
        proxy_read_timeout 150;
        proxy_pass http://unix:{{ home }}/{{ app_name }}/www/shared/unicorn/unicorn.sock;
    }

    location / {
        proxy_read_timeout 150;
        proxy_pass http://unix:{{ home }}/{{ app_name }}/www/shared/unicorn/unicorn.sock;
    }

}

